<!DOCTYPE html>
<html lang="en">


<head>


<meta charset="UTF-8">


<meta name="viewport" content="width=device-width, initial-scale=1.0">



<title>

Parking Reservation

</title>




<link

rel="stylesheet"

href="{{ url_for('static', filename='style.css') }}"

>



</head>





<body>



<div class="container">






<h1>

📱 Parking Reservation

</h1>




<p class="subtitle">

Reserve Your Smart Parking Slot

</p>









<div class="card">





<h2>

🅿️ Select Parking Slot

</h2>








<form id="reservationForm">






<input


type="text"


id="name"


placeholder="Enter Your Name"


required


>







<input


type="text"


id="phone"


placeholder="Phone Number"


required


>









<select id="slot">


<option value="Slot 1">

🅿️ Slot 1

</option>



<option value="Slot 2">

🅿️ Slot 2

</option>


</select>









<input


type="date"


id="date"


required


>









<input


type="time"


id="time"


required


>









<button


type="submit"


class="history-btn"


>





✅ Reserve Slot





</button>








</form>









<p

id="message"

class="online"

>


Ready

</p>









</div>













<div class="card">



<h2>

Parking Rules

</h2>



<p>

✔ Reserve before arrival

</p>


<p>

✔ One vehicle per slot

</p>


<p>

✔ Cancel unused booking

</p>



</div>









<a href="/" class="history-btn">


⬅ Back Dashboard


</a>










</div>









<script

src="{{ url_for('static', filename='reservation.js') }}">

</script>






</body>


</html>